:root {
    --navHeight:   80px;
    --yellow:      #F9C74F;
    --purple:      #18384e;
    --apricot:     #FFD6BA;
    --lightGreen:  #BEE3DB;
    --darkGreen:   #527A78;
    --white:       #FAF9F9;
    --black:       #23262E;
    --blueGray:    #555B6E;
    --romanSilver: #757E95;
    --darkblue:    #305573;
    --orangered:   #ce7048;
    --lightblue:       #bdd5fa;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
  }
  
  /* notice how the default light theme colors are set by this class. */
  .light-theme {
    --navBg:          var(--purple);
    --navLinkHoverBg: var(--yellow);
    --mainBg:         var(--white);
    --fontColor:      var(--black);
    --navLinkColor:   var(--white);
    --formBG:         var(--purple);
    --formInput:      var(--white);
    --picture_border: var(--black);
    --prod_text_border:var(--black);
    --prod_textBG:    var(--white);
  }
  
  .dark-theme {
    --navBg:          var(--black);
    --navLinkHoverBg: var(--darkblue);
    --mainBg:         var(--darkblue);
    --fontColor:      var(--white);
    --navLinkColor:   var(--orangered);
    --formBG:         var(--black);
    --formInput:      var(--white);
    --prod_textBG:    var(--lightblue);
    --picture_border: var(--white);
    --prod_text_border:var(--white);
  }
  
/* START OF NAV BAR */

  /* toggle styles begin */
  .toggle {
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--black);
    transition: background-color ease 0.3s;
  }
  
  .toggle:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: var(--romanSilver);
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
  }
  
  .toggle:checked {
    background-color: var(--yellow);
  }
  
  .toggle:checked:before {
    left: 32px;
  }

  /* toggle styles end */

  /* langselect styles begin */
  .langselect {
    appearance: none;
    width: 40px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--black);
    transition: background-color ease 0.3s;
  }
  
  .langselect:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: var(--romanSilver);
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
  }
  
  .langselect:checked {
    background-color: var(--yellow);
  }
  
  .langselect:checked:before {
    left: 32px;
  }

  /* langselect styles end */
  
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  nav {
    background: var(--navBg);
    position: relative;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: var(--navHeight);
    padding: 0 10px;
  }
  
  nav ul li {
    padding: 12px 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 4px;
    position: relative;

  }
  
  nav ul li:hover {
    background-color: var(--navLinkHoverBg);
  }
  
  nav a {
    font-family: Poppins sans-serif;
    font-size: 3.2rem;
    text-decoration: none;
    color: var(--navLinkColor);
  }

    /* logo in navigation bar */

    .nav_pic {
      width: 40px;
      height: 40px;
    }
  
  /* END OF NAV BAR */
  
  .parent .logo {
    align-items: center;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: var(--mainBg);
    /* the calc functin does exactly what you think it does */
    /* in this case we are calulating the height based on viewport height */
    /* minus the nav height, cool right! */
    /* height: calc(100vh - var(--navHeight)); */
    min-height: calc(100vh - 80px);
    height: fit-content;
  }
  
  h1, h2 {
    font-family: Poppins, sans-serif;
    color: var(--fontColor);
  }
  
  h1 {
    font-size: 8rem;
  }
  
  h2 {
    font-size: 8rem;
  }
  
  .myForm {
    display: flex;
    background-color: var(--formBG);
    font-family: Poppins, sans-serif;
    border-radius: 8px;
    padding: 1.8rem;
  }
  
  label {
    font-size: 1.8rem;
    color: var(--fontColor);
  }
  
  .message {
    display: flex;
    flex-direction: column;
    order: 2;
  }
  
  .message > textarea {
   flex: 1; 
   min-width: 45rem;
   font-size: 1.8rem;
  }
  
  .contact {
    flex: 1; 
    order: 1;
    margin-right: 2em; 
  }
  
  .contact input {
    width: 100%;
  }
  
  input[type=text]:focus {
    border: none;
    outline: none;
  }
  
  .contact input,
  .contact button {
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    font-size: 1.8rem;
  }
  
  .contact button {
   background: var(--darkGreen);
   color: var(--white);
  }

  #main {
    display: flex;
    flex-flow: row;
    flex-grow: 0;
    background-image: url("../Img/background_img.jpg");
    background-size: cover;

    /* align-items: flex-start; */
  }

  .homepage {
    align-items: center;
  }

  section>.logo {
    align-items: center;
  }

  .page_container {
    display: flex;
    flex-flow: row;
    margin: 5em;
    position: static;
  }

   .in_line_picture img {
    margin: 1em;
    height: 35em;
    width: 35em;
    box-sizing: border-box;
    border: solid var(--picture_border);
  }

  .in_line_picture {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    position: static;
    justify-content: space-evenly;
  }

  .text_about_product p {
    display: flex;
    box-sizing: border-box;
    border: solid var(--prod_text_border);
    /* padding: max(calc(50vh - 15em));
    padding: min(6em); */
    margin: 10px;
    font-size: 200%;
    height: 16.4em;
    min-height: 350px;
    max-width: 2000px;
    align-items: center;
    justify-content: center;
    background: var(--prod_textBG);
  }

  .text_about_product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 480px;
  } 

  .product_wrap {
    position: relative;
  }

  .product_wrap img {
    position: static;

  }

  .prod_description {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    visibility: none;
    opacity: 0;
    transition: opacity 0.8s;
    color:#BEE3DB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
  }

  .product_wrap:hover .prod_description {
    visibility: visible;
    opacity: 1;
  }

.contact_page {
    align-items: center;
}


  /* Question 2: Media Query */
  
  @media screen and (max-width: 600px) {
    .myForm {flex-direction: column;}
    .message {order:1; min-height: 15rem;}
    .contact {order:2}
    h1, h2 {font-size: 4rem}
    ul li a {font-size: 2.5rem}
    :root {--navHeight:  50px}
  }

  /* @media screen and (max-width: 380px) {
    :root {--navHeight: 25px}
    
    
  } */

  @media screen and (max-height: 420px) {
    .logo {height: 25%; width: 25%}
    .in_line_picture img {height: 25em; width: 25em}
    .text_about_product p {min-height:250px; height:250px}
    .page_container {margin: 1em}
  }